#*
 * Copyright (C) 2009-2017 Simonsoft Nordic AB
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
<!DOCTYPE html>
	<html>
		<head>
		<meta charset="UTF-8">
		<title>Worker Status</title>
		<style>
			table {
				width: fit-content;
				border-collapse: collapse;
				max-width: 60%;
			}
			
			table, th, td {
				border: 1px solid black;
			}
			
			td {
				padding: 5px;
			}
			
			tr:nth-child(odd) {
				background-color: #e6e6e6;
			}
			
			th {
				width: 30%;
			}
			
			#tableHeadDescription {
				width: 40%;
			}
			
			#dividerDiv {
				display: flex;
				flex-direction: row;
				overflow: auto;
				margin: 10px;
				margin-right: 20px;
			}
			
			#workerLoop {
				background-color: #e6e6e6;
				margin: 10px;
				padding: 1%;
			}
		</style>
		</head>
	<body>
		<div id="dividerDiv">
			<table>
				<tr>
					<th>TimeStamp</th>
					<th>Action</th>
					<th id="tableHeadDescription">Description</th>
				</tr>
					#foreach($workerEvent in $workerEvents)
						<tr>
							<td>$workerEvent.getTimeStamp()</td>
							<td>$workerEvent.getAction()</td>
							<td>$workerEvent.getDescription()</td>
						</tr>
					#end
			</table>
				#if ($workerLoop)
				<div id="workerLoop">
					<h3>Worker Loop</h3>
					<ul>
						<li>Timestamp: $workerLoop.getTimeStamp()</li>
						<li>Description: $workerLoop.getDescription()</li>
					</ul>
				</div>
				#end
		</div>
	</body>
</html>
