#*
 * Copyright (C) 2009-2017 Simonsoft Nordic AB
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
<!DOCTYPE html>
	<html>
		<head>
		<meta charset="UTF-8">
		<title>Publish Job</title>
		</head>
		<style>
			textarea {
				margin: 0px;
				width: 700px;
				height: 400px;
			}
			
			#exampleDataHolder {
				display: flex;
				flex-direction: row;
				overflow: auto;
				margin: 10px;
			}
			
			.exampleDataHolder {
				margin: 10px;
				background-color: #e6e6e6;
				padding: 1%;
			}
			
			#submitButton {
				margin: 1%;
			}
			
		</style>
	<body>
		<form id="jobForm" method="post">
			<h3>PublishJob Options data in Json format:</h3>
			<textarea name="jsonString" form="jobForm"></textarea><br>
			<input id="submitButton" type="submit" value="Submit">
		</form>
		<div id="exampleData">
			<div class="exampleDataHolder">
				<h3>Example PublishJob Option Json:</h3>
				<pre>
					<code>
{
	"pathname": "DOC_900108_Released.pdf",
	"type": "abxpe",
	"source": "$aptpath/e3/e3/e3demo.xml",
	"format": "pdf",
	"params": {
		"stylesheet": "$aptpath/doctypes/axdocbook/axdocbook.style",
		"pdfconfig": "smallfile.pdfcf"
	}
}
				</code>
			</pre>
		</div>
		<div class="exampleDataHolder">
			<h3>Example PublishJob Option Json, gets item from svn instead</h3>
			<pre>
				<code>
{
	"pathname": "DOC_900108_Released.pdf",
	"type": "abxpe",
	"source": "$aptpath/e3/e3/e3demo.xml",
	"format": "pdf",
	"params": {
		"stylesheet": "$aptpath/doctypes/axdocbook/axdocbook.style",
		"pdfconfig": "smallfile.pdfcf"
	}
}
					</code>
				</pre>
			</div>
		</div>
	</body>
</html>