#*
 * Copyright (C) 2009-2017 Simonsoft Nordic AB
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Export Publications</title>
$reposHeadTags


<style>
	.publications input {
		margin-top: 5px;
	}
	
	.workflowStatusWarning {
		color:red;
		display: none;
	}
	

</style>

</head>
<body>

<div id="commandbar">
<a class="repository" href="$item.getId().getRepositoryUrl()">return to repository</a>
<a class="details" href="$item.getId().getUrl()?p=$item.getId().getPegRev()&rweb=details">details</a>
</div>

<div id="intro">
<h1>Export Publications</h1>
<p>NOTE: This service is <b>no longer</b> intended for sending translations to the TSP, see <b>Export Translations</b> on the translation details page.</p>
</div>

<div class="column" style="width: 70%">
<form id="export-publications-form" method="get" action="./download/">
	<fieldset>
		<legend>Batch publish <code>$item.getId().getRelPath().getName()</code> <span class="revision">$item.getRevisionChanged().getNumber()</span></legend>
		
		<input name="item" type="hidden" value="$item.getId()" />
		
		<p>
			<label for="relPath">document</label>
			<input id="relPath" name="relPath" type="text" size="80" value="$item.getId().getRelPath()" disabled="disabled" />
		</p>
		<p>
			<label for="rev">revision</label>
			<input name="rev" type="text" id="rev" value="$item.getId().getPegRev()" class="revision" disabled="disabled"/>
		</p>
		<p>
			<label for="includerelease">include release</label>
			<input id="includerelease" name="includerelease" type="checkbox" checked="checked" value="true"/>
		</p>
		<p>
			<label for="includetranslations">include translations</label>
			<input id="includetranslations" name="includetranslations" type="checkbox" checked="checked" value="true"/>
		</p>
		<p> 
			#if (! $itemProfiling.entrySet().isEmpty())
			<label for="profiles">profiles</label>
			<div>
				#foreach ($mapEntry in $itemProfiling.entrySet())
					<input id="dosrc" name="profiling" type="checkbox" value="$mapEntry.getValue().getName()">$mapEntry.getValue().getName()</input>
					<br/>
				#end
			#end
			</div>
		</p>
		<p class="publications">
			<label for="dopub">publications</label>
			<div>
			#if (! $configuration.entrySet().isEmpty())
				#foreach ($mapEntry in $configuration.entrySet())
					#if( $mapEntry.getValue().isVisible() )
					
						<input id="$mapEntry.getKey()" 
							name="publication" 
							type="radio" 
							value="$mapEntry.getKey()"
							class="publicationBtn">$mapEntry.getKey()
						</input>
						<br/>
					#end
				#end
			#else
				<div id="dopub" style="padding-top: 1px; color:red;">No publications configured</div>
			#end
			</div>
		</p>
		<p>
			<label for="submit"></label>
			<div>
				<input id="submit" type="submit" name="submit" value="Batch Publish" tabindex="3" />
				<span id="warning" style="color:red; display:none;">At least one document area must be selected.</span>
				#foreach ($status in $releaseExecutions.keySet())
					#foreach ($config in $releaseExecutions.get($status))
					<p class="workflowStatusWarning releaseStatus $config" >
						Publish of the Release with config $config is $status.toLowerCase().
					</p>
					#end
				#end
				#foreach ($status in $translationExecutions.keySet())
					#foreach ($config in $translationExecutions.get($status))
					<p class="workflowStatusWarning translationStatus $config" >
						Publish of the Translations with config $config is $status.toLowerCase().
					</p>
					#end
				#end
			</div>
		</p>
	</fieldset>
</form>
</div>
<div class="column" style="width: 29%">
<!-- 
<div class="section">
<p></p>
</div>
-->
</div>
<div id="footer">
</div>

</body>

<script type="text/javascript">
$(document).ready(function () {


	
	//Will prevent submits by returning false if no boxes is checked.
    $('#submit').click(function() {
      if(!$(checkedSelector).length) {
      	$('#warning').show();
        return false;
      }
    });
    
    $('input[type=checkbox]').click(function() {
    	
    });
    
    $('input[type=radio]').first().prop('checked', true);
    
    $('input[type=radio]:checked', function() {
    	$('.' + $('input[type=radio]:checked').val()).show();
    });
    
    var displayWarnings =function() {
    	
    	if (!$('input[type=checkbox]:checked').length) {
    		$('#warning').show();
    	} else {
    		$('#warning').hide();
    	}
    	
    	$('.workflowStatusWarning').hide();
    	var config = $('input[type=radio]:checked').val()
    	var selector = '.workflowStatusWarning';
    	
    	if ($('#includerelease:checked').length > 0) {
    		$(selector + '.releaseStatus' + '.' + config).show();
    	}
    	
    	if ($('#includetranslation:checked').length > 0) {
    		$(selector + '.translationStatus' + '.' + config).show();
    	}
   		
    };
    
    $('input[type=radio]').click(function() {
    	displayWarnings();
    });
    $('input[type=checkbox]').click(function() {
    	displayWarnings();
    });
    
});

</script>
</html>